@section Bar {
    <section class="bg-primary p-3">
        <div class="container">
            <nav>
                <ol class="breadcrumb mb-0">
                    <li class="breadcrumb-item">
                        <a href="/">Anasayfa</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a>Yetkisiz Erişim</a>
                    </li>
                </ol>
            </nav>
        </div>
    </section>
}

<div class="container mt-3">
    <div class="alert alert-danger">
    <h3>Yetkisiz Erişim</h3>
    </div>
</div>