@section Bar {
    @await Component.InvokeAsync("Navbar")
}
<!DOCTYPE html>


<div class="container mt-3">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>

    <body>
        <div class="row">
            <div class="col">
                <div class="card shadow">
                    <div class="card-header">

                        <h5>Check Button</h1>
                    </div>
                    <div class="car-body text-center">
                        <div class="m-2">
                            <form asp-controller="Urun" asp-action="CheckButton" >
                                <input type="radio" id="Erkek" value="Erkek" name="Cinsiyet">
                                <label for="Erkek">Erkek</label>
                                <input type="radio" id="Kad覺n" value="Kad覺n" name="Cinsiyet">
                                <label for="Kad覺n">Kad覺n</label>
                                <Div>
                                <button type="submit" class="btn btn-danger shadow inline">Kaydet</button>
                                </Div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</div>
