@model string;

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="card shadow">
                    <div class="card-header">

                        <h5>Check Button</h1>
                    </div>
                    <div class="car-body text-center">
                        <div class="m-2">
                            <h5>Cinsiyet seçimi <span style="color: red;">@Model</span> olarak belirlenmiştir.</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</div>

</html>